<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RepeatTestSuite">
<test name="RepeatedTest">
<classes>
<class name="com.example.YourTestClass">
<methods>
<include name="yourTestMethod" invocation-count="5"/>
</methods>
</class>
</classes>
</test>
</suite>
 
 
@Test(invocationCount = 5)
public void yourTestMethod() {
    // Your test code here
}
